@font-face {
    font-family: 'iransans';
    src: url(../A-Iranian-Sans/Iranian\ Sans.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'iransans';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./skey.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  
}
h2{
    font-size: 38px;
    font-family: 'iransans';
    color:#fff;
    text-align: center;
    font-weight: 900;
    margin:30px 0;
    padding-right: 50px;
    width: 100%;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(127, 108, 213);
    justify-content:center;
    margin: 0 10px;
    width: 100px;
    height: 100px;
   

}
.text{
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 10px;
    padding: 10px 0;
    font-family: 500;
    background-color: rgba(40, 40, 106,0.8);
    text-shadow: 0.5px 0.5px 1px rgba(255,255,255,0.4);
}
#hour{
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    padding:5px 10px;
}
#minutes{
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
}
#second{
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
}

#ampm{
    background-color: blueviolet;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    align-self: end;
    width: 50px;
    height: 25px;  
    text-align: center; 
    line-height: 1.6; 
}